{% extends "AppCoder/inicio.html" %}
{% load static %}
{% block Contenido %}

<section>
    <article class="secciones">
        <div class="titulo_secciones">
            <h1>Cursos</h1>
        </div>
        <h3 class="subtitulo_secciones">Detalle</h3>
        <div class="lista_secciones">
            <ul>
                <li><p class="texto_lista">Nombre: {{ curso.nombre }}</p></li>
                <li><p class="texto_lista">Camada: {{ curso.camada }}</p></li>
            </ul>
        </div>
        <a class="regresar" href="{% url "ListaCursos" %}">Regresar</a>
    </article>
        
        
  
    
    {% endblock %}
