{% extends "AppCoder/inicio.html" %}
{% load static %}
{% block Contenido %}

<section>
    <article class="secciones">
        <div class="titulo_secciones">
            <h1>Entregables</h1>
        </div>
        <h3 class="subtitulo_secciones">Lista de Entregables</h3>
        <div class="lista_secciones">
            <ul>
                {% for entregable in object_list %} 
                    <li>
                        <p class="texto_lista" >Entregable: {{ entregable.nombre }}</p>
                        <p> 
                            <a class="ver_editar_borrar" href="{% url "DetalleEntregables" entregable.id %}">Ver</a>
                            <a class="ver_editar_borrar" href="{% url "EditarEntregables" entregable.id %}">Editar</a>
                            <a class="ver_editar_borrar" href="{% url "BorrarEntregables" entregable.id %}">Borrar</a>
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <a class="regresar" href="{% url "Entregables" %}">Regresar</a>
    </article>
</section>

{% endblock %}