{% extends "AppCoder/inicio.html" %}
{% load static %}
{% block Contenido %}

<section>
    <article class="secciones">
        <div class="titulo_secciones">
            <h1>Entregables</h1>
        </div>
        <div class="lista_secciones" style="text-align: center;">
            <ul style="list-style:none;">
                <li><h4><a class="agregar_listar" href="../entregable-nuevo">AGREGAR ENTREGABLE</a></h4></li>
                <li><h4><a class="agregar_listar" href="../entregable_lista">LISTA DE ENTREGABLES</a></h4></li>
            </ul>
        </div>
    </article>
</section>

{% endblock %}