{% extends "AppCoder/inicio.html" %}
{% load static %}
{% block Contenido %}

<section>
    <article class="secciones">
        <div class="titulo_secciones">
            <h1>Estudiantes</h1>
        </div>
        <h3 class="subtitulo_secciones">Detalle</h3>
        <div class="lista_secciones">
            <ul>
                <li><p class="texto_lista">Nombre: {{ estudiante.nombre }}</p></li>
                <li><p class="texto_lista">Apellido: {{ estudiante.apellido }}</p></li>
                <li><p class="texto_lista">Email: {{ estudiante.email }}</p></li>
            </ul>
        </div>
        <a class="regresar" href="{% url "ListaEstudiantes" %}">Regresar</a>
    </article>
        
        
  
    
    {% endblock %}
